ENV=prod
DEBUG=false
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=water_delivery
POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace-me
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=replace-me