{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">Panel Principal</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Nuevo Pedido</h5>
                    <p class="card-text">Crear un nuevo pedido de agua</p>
                    <a href="#" class="btn btn-primary">Crear Pedido</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Mi Ruta</h5>
                    <p class="card-text">Ver mi ruta de entregas del día</p>
                    <a href="#" class="btn btn-success">Ver Ruta</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Pedidos</h5>
                    <p class="card-text">Gestionar todos los pedidos</p>
                    <a href="#" class="btn btn-info">Ver Pedidos</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 col-lg-4 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Gestionar información de clientes</p>
                    <a href="#" class="btn btn-secondary">Ver Clientes</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}